*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body{
   background: linear-gradient(135deg,
        #0f172a 0%,
        #1e293b 45%,
        #4c1d95 100%);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
}

.logo{
    width: 300px;
    display: block;
    margin: 20px auto;
}

main{
    width: 375px;
    background: #e7e1ef;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px; 
}

label{
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

select, input{
    background: #d0bded;
    border: 1px solid #5d5a5a;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

button{
    background: #772fd3;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section{
    background: #d0bded;
    border: 1px solid #772fd3;
    border-radius: 5px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;    
}

.arrow-img{
    margin: 15px 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.curancy{
    color: #777;
    font-size: 14px;
}

.curancy-value, .curancy-value-to-convert{
    color: #555;
    font-weight: 700;
    font-size: 20px;
}